<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.shopping.mapper.CartMapper">
    <resultMap id="CartMap" type="cart">
        <id property="cid" column="cid"></id>
        <association property="book" javaType="book">
            <id property="bid" column="bid"></id>
            <collection property="pictures" ofType="picture">
                <id property="pid" column="pictureId"></id>
            </collection>
        </association>
        <association property="store" javaType="store">
            <id property="sid" column="sid"></id>
        </association>
    </resultMap>
    <select id="querylistCart" resultMap="CartMap">

        SELECT * FROM cart c
        JOIN book b ON c.bid=b.bid
        JOIN picture p ON b.bid=p.bid
            and p.deleted=0
        JOIN store s ON c.sid=s.sid

        AND c.deleted=0
        <if test="uid != null">
            AND c.uid=#{uid}
        </if>
        <if test="bid != null">
            AND c.bid=#{bid}
        </if>
    </select>
</mapper>